
@media (max-width: 575px) {
    .m-img {
        visibility: hidden;
    }
    .m-title{
        font-size: 1.3em;
    }
}

@media (max-width: 767px) {
    .m-img {
        height: 50% !important;
        width: 110% !important;
        margin-top: 35px;
    }
}

@media (max-width: 991px) {  }

@media (max-width: 1199px) {  }

